<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Researchify</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			

			<!-- Banner -->
			<div id="page-wrapper">

			

				<!-- Banner -->
					<section id="banner">
						<h2>Researchify</h2>
						<p>A platform for student researchers and participants to seamlessly collaborate</p>
						<ul class="actions special">
							<li><a href="/signup" class="button primary">Sign Up</a></li>
							<li><a href="/login" class="button">Login</a></li>
						</ul>
					</section>
	
				<!-- Main -->
					<section id="main" class="container">
	
						<section class="box special">
							<header class="major">
								<h2> Need participants for a new study? 
								<br />
								Want to get involved on a project? </h2>
								<p>With a talented and ambitious community, Researchify can help you find the right person or project for your next endeavor. </p>
							</header>
							<!--   -->
						</section>
	

					</section> -->
	
	
		
	
			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>