<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Alpha by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			

			<!-- Banner -->
			<div id="page-wrapper">

			

				<!-- Banner -->
					<section id="banner">
						<h2>Researchify</h2>
						<p>A platform for student researchers and participants to seamlessly collaborate</p>
						<ul class="actions special">
							<li><a href="/signup" class="button primary">Sign Up</a></li>
							<li><a href="/login" class="button">Login</a></li>
						</ul>
					</section>
	
				<!-- Main -->
					<section id="main" class="container">
	
						<section class="box special">
							<header class="major">
								<h2> Need participants for a new study? 
								<br />
								Want to get involved on a project? </h2>
								<p>With a talented and ambitious community, Researchify can help you find the right person or project for your next endeavor. </p>
							</header>
							<!--   -->
						</section>
	
	
						<div class="row">
							<div class="col-6 col-12-narrower">
	
								<section class="box special">
									<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
									<h3>Are you a Researcher?</h3>
									<p>Post your proposal and requirements to start recruiting participants</p>
									<ul class="actions special">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul>
								</section>
	
							</div>
							<div class="col-6 col-12-narrower">
	
								<section class=" box special">
									<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
									<h3>Looking to participate in a study?</h3>
									<p>Filter through the various types of studies to see which ones you're qualified for.</p>
									<ul class="actions special">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul>
								</section>
	
							</div>
						</div>
	
					</section> -->
	
	
		
	
			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>