<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Alpha by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			

			<!-- Banner -->
				<section id="banner">
					<h2>Volummity</h2>
					<p>A space for artists and creatives to network and collaborate</p>
					<ul class="actions special">
						<li><a href="/signup" class="button primary">Sign Up</a></li>
						<li><a href="/login" class="button">Login</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Connect with like-minded artists across the globe
							<br />
							and share your unique sound with the world! </h2>
							<p>With talented members, Volummity can help you find the right person for your next project. </p>
						</header>
						<!--   -->
					</section>


					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Looking to collaborate?</h3>
								<p>See what artists are open to working and looking for people</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class=" box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Find New Sounds</h3>
								<p>Filter by genre and tempo to see what your looking for.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section> -->


	

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>