<!doctype html>
<html>
<head>
    <title>Researchify</title>
    <%- include('partials/bootstrap.ejs') %>
</head>
<body>
<div class="container">
  <%- include('partials/nav.ejs') %>
    <div class="page-header text-center">
        <h1></span> Research Post</h1>
        
    </div>

        <div class="col">

          <h2>Create Study</h2>
        <% if (user.local.email) { %>
          <form action="/createStudy" method="POST">
            <input  type="text" value="<%= user._id %>" name="researcherId" hidden>
              <label for="name">Researcher's name</label>
            <input class="form-control" type="text" value="<%= user.local.email %>" name="name">
            <label class="form-label" for="title">Title of Your Study</label>
            <input class="form-control" type="text" placeholder="Title of Study" name="title">
            <label class="form-label" for="organization">Organization</label>
            <input class="form-control" type="text" placeholder="Organization" name="organization">
            <label class="form-label"for="type">Type of Study</label>
            <select class="form-select" aria-label="Default select example" name="type">
              <option selected>Select Your Study Type</option>
              <option value="Survey">Survey</option>
              <option value="Participant Observation">Participant Observation</option>
              <option value="Interview">Interview</option>
              <option value="Experiment">Experiment</option>
              <option value="Mixed Methods">Mixed Methods</option>
            </select>
            <label class="form-label" for="description">Description of Your Study</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
            
            <label class="form-label" for="IRB Consent">Participant Consent</label>
            <textarea class="form-control" name="consent" id="consent" cols="30" rows="10">Include your consent specifications here.</textarea>
            <button type="submit">Submit</button>
          </form>
        
        <% } %>
      </div>

</div>

<script src="main.js"></script>

</body>
</html>
